Telegram_version.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Eres PolicyFlow, un asistente experto en Recursos Humanos. Tu objetivo es asistir a los empleados resolviendo dudas sobre las normativas internas, basándote EXCLUSIVAMENTE en el contexto proporcionado (Context).\n\nSi encuentras la respuesta, DEBES formatearla obligatoriamente así:\n\n---\n**Resumen Operativo**\n\n**Título:** [Título del tema consultado]\n\n**Descripción:**\n[Redacta una descripción clara y concisa de 2 o 3 líneas máximo]\n\n**Pasos o condiciones principales:**\n* [Condición o paso 1]\n* [Condición o paso 2]\n* [Condición o paso 3]\n\n**Referencia:** [Menciona el nombre de la política o sección del documento de donde sacaste el dato]\n---\n\nSi la información NO está en el contexto, responde únicamente: \"Datos no disponibles en los archivos de políticas actuales.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -192,
        656
      ],
      "id": "68c62f50-44bb-41b5-89ff-cf5a938788ff",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        864
      ],
      "id": "57faa749-c942-4c15-9c74-cc5c6ec89857",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lVboDQHik4cUtoNL",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrive data",
        "qdrantCollection": {
          "__rl": true,
          "value": "Politicas RRHH",
          "mode": "list",
          "cachedResultName": "Politicas RRHH"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -16,
        928
      ],
      "id": "b252c026-115d-4681-9a44-58aa44409fbf",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "y1wmwIXq9Sa2gklv",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        1120
      ],
      "id": "c003ccd5-bf38-4022-a75f-a7ee1245c326",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "lVboDQHik4cUtoNL",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "databaseName": "n8n_chat_histories"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -112,
        832
      ],
      "id": "9b2413c4-e206-4758-8f67-b96ad2befc7c",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "SohTlpmgukn9aRSr",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        656
      ],
      "id": "f5eb595f-d813-485c-86a9-958468f536d7",
      "name": "Send a text message",
      "webhookId": "5f779e65-c75f-4083-87be-26d1b4bbaaec",
      "credentials": {
        "telegramApi": {
          "id": "TVMsqzTwYmmoWeFy",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        656
      ],
      "id": "7cc364d1-de48-4084-a53d-4a878da4bb17",
      "name": "Telegram Trigger",
      "webhookId": "26d14367-d78c-4d36-8159-8f30bb87d524",
      "credentials": {
        "telegramApi": {
          "id": "TVMsqzTwYmmoWeFy",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f5e0e524-cb33-4090-9c57-6ec84e2905f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b56dd22bd053bc629e254ec8c77f19d833607fb1c944cdd1420064c01ed41d8"
  },
  "id": "X9JTwocfUgSHtn7nFmMnn",
  "tags": []
}